<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TGHunter"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".LogsActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".LogFilesActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".ProfilesActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".SettingsProfileActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".AddProfileActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".VerifyNumberActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".ParsedataActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".MassjoinActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".MassviewActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".MassreactActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <activity
            android:name=".SpamActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>
    </application>

</manifest>